.gradle/

# Android Studio
/.idea
/local.properties
/captures
build/
.DS_Store
*.iml
.externalNativeBuild

# vscode
.settings/
.classpath
.project%
app/build
ZBLibrary/build
QRCodeLibrary/build
build
.gradle
.idea
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen